<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Sign Up!</h1>
        <div class="box">
            <form action="/create" method="post">
                     <input type="text" placeholder="username" name="username">
                     <input type="email" placeholder="email" name="email">
                     <input type="text" placeholder="password" name="password">
                     <input type="number" placeholder="age" name="age">
                     <button type="submit"> submit </button>
                     <center><h2>Already a user</h2>
                     <a href="/login">Sign In</a></center> 
            </form>
        </div>
    </div>
</body>
</html>