<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="/stylesheets/style1.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Sign In!</h1>
        <div class="box">
            <form action="/login" method="post">
                     <input type="email" placeholder="email" name="email">
                     <input type="text" placeholder="password" name="password">
                     <button type="submit"> login </button>
                    <div class="box1">
                        <center><h2>Not a user</h2>
                        <a href="/">Sign Up</a></center> 
                    </div>     
            </form>
        </div>
    </div>
</html>